// NOTE: the order of these styles DO matter

.DateInput_fang {
  display: none;
}

.DateRangePicker {
  height: 100%;
  margin-top: auto;
  width: 100%;
  display: inline-block;
  position: relative;
}

.ExperiencesDateSingleInput .DateInput,
.StayDatesRangeInput .DateInput {
  bottom: 0;
  height: 100%;
  width: 50%;
  left: 0;
  position: absolute;
  top: 0;
}

.DateRangePickerInput {
  background-color: transparent;
}

.DateRangePickerInput__showClearDates {
  padding-right: 30px;
}

.DateInput {
  opacity: 0;
}

.DateRangePickerInput_arrow {
  opacity: 0;
}

// For DatePickerRange

.DateRangePicker_picker,
.DayPicker__withBorder {
  --tw-bg-opacity: 1 !important;
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1) !important;
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color) !important;
  background-color: rgb(255 255 255/var(--tw-bg-opacity)) !important;
  border-radius: 1.5rem !important;
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.CalendarMonth,
.CalendarMonthGrid,
.DateRangePicker_picker,
.SingleDatePicker_picker {
  background-color: transparent !important;
}

.DateRangePicker_picker,
.SingleDatePicker_picker {
  margin-top: 0.75rem !important;
  top: 100% !important;
}

// For CalendarDatePicker

.CalendarMonth,
.CalendarMonthGrid,
.DateRangePicker_picker,
.SingleDatePicker_picker {
  background-color: transparent !important;
}

.CalendarDay__default {
  --tw-text-opacity: 1;
  background-color: initial;
  border-color: transparent;
  border-width: 1px;
  height: 3rem;
  width: 3rem;
}

.CalendarDay__default.CalendarDay__blocked_out_of_range,
.CalendarDay__default.CalendarDay__blocked_out_of_range:active,
.CalendarDay__default.CalendarDay__blocked_out_of_range:hover {
  --tw-text-opacity: 1;
  border-color: transparent;
  border-width: 1px;
  color: rgba(209, 213, 219, var(--tw-text-opacity));
  cursor: default;
}

.CalendarDay.CalendarDay__blocked_out_of_range:hover {
  --tw-text-opacity: 1;
  background-color: transparent;
  color: rgba(209, 213, 219, var(--tw-text-opacity));
}

.CalendarDay:hover {
  background-color: rgba(212 212 212);
  color: rgba(23 23 23);
  border-color: rgba(212 212 212);
}

.CalendarDay__hovered_span,
.CalendarDay__selected_span {
  background-color: rgba(212 212 212);
  color: rgba(23 23 23);
  border-color: rgba(212 212 212);
}

.CalendarDay__selected,
.CalendarDay__selected:hover {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(161 161 170);
  background-color: rgba(113 113 122);
  border-color: rgba(161 161 170);
  border-width: 1px;
  color: rgba(243, 244, 246, var(--tw-text-opacity));
}